modified_memorybank_siliconfriend/memories
modified_memorybank_siliconfriend/SiliconFriend-ChatGPT/update_memory.json
modified_memorybank_siliconfriend/SiliconFriend-ChatGPT/launch.sh
modified_memorybank_siliconfriend/SiliconFriend-ChatGLM-BELLE/adapter_model/
modified_memorybank_siliconfriend/SiliconFriend-ChatGLM-BELLE/launch_belle_cmd.sh
modified_memorybank_siliconfriend/SiliconFriend-ChatGLM-BELLE/launch_chatglm_app.sh
modified_memorybank_siliconfriend/SiliconFriend-ChatGLM-BELLE/launch_chatglm_cmd.sh
.DS_Store
.venv
.ipynb_checkpoints
memory_index
memory.json